<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_reg.css') }}">
</head>
<body>
    <h1>Вход</h1>
    <div id="wrapper">
        <form id="signin" method="post" action="/login" autocomplete="off">
            <input type="text" id="user" name="Логин" placeholder="Логин" required>
            <input type="password" id="pass" name="Пароль" placeholder="Пароль" required>
            <button type="submit"><i class="fa-solid fa-play"></i></button>
            <p>Забыли пароль? <a href="#">нажми сюда</a></p>
            <!-- Добавляем ссылку на регистрацию -->
            <p>Нет аккаунта? <a href="/register">Зарегистрируйтесь сейчас</a></p>
        </form>
    </div>

</body>
</html>